extends ../layout/layout 

block content
    .error-content
        h1 Page Not Found
        p The page you are looking for does not exist. Please check the URL or go back to the homepage.

        a(href="/") Go to Homepage